.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Ensure navbar appears above other content */
  }
.heading{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 70% !important;
    color: aliceblue;
    
}
.form_register{
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 1.9);
    width: 100%;
    padding: 3rem;
    margin-top: 17rem;
    
    
}


.background{
    height: fit-content;
    width: 100%;
    background-color: white;
    display:flex;
    justify-content: center;
}
#register{
    margin-top: 8rem;
    width: 75%;
    
    
    
}
.button{
   display: flex;
   justify-content: center;
   margin-bottom: 8px;
}

#otp{
    background-color: aliceblue;
    height: fit-content;
    width: fit-content;
    border-radius:8%;
    margin-top: 10rem;
}
.otp_H{
    font-size: 2rem;
}